body {
  font-family: antraste;
}

section.intro-video {
  background: #FFD101;
  min-height: 500px;
  position: relative;

  & .video-play {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    border: 3px solid #FFFFFF;
    margin: auto;
  }
}

.clear-both {
  clear: both;
}

.img.img-responsive {
  height:100%;
}

.header {
  padding: 40px 0;
}

nav .navbar-header .tipografia {
  font-family: mj;

  & h1 {
    margin: 0;
    font-size: 1.2em;
  }
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  &:hover {
    color:#FFFFFF;
    opacity: .8;
  }
}
.navbar-default .navbar-nav > li {
  padding: 11px 9px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 10px;
  padding: 3px 15px;
  border: 1px solid rgba(255, 209, 1, 0);
  &:hover {
    border: 1px solid #FFD101;
  }
}

.section {
  padding: 40px 0;
}
.menu-list,
.sub-menu {
  margin:0;
}
.menu-list > li {
  display: none;
  padding:0;
}
.menu-list > li.active {
  display: block;
}

.menu-list .sub-menu {
  font-size:0;
}

.menu-list .sub-menu li {
  width: 20%;
  padding: 0;
  box-sizing: border-box;
  padding: 20px;
  min-height: 350px;
  background-color: #2D2A2B;
  -webkit-transition: background .5s;
  transition: background .5s;
  position: relative;
  color: white;
}

.menu-list .sub-menu li:hover,
.menu-list .sub-menu li.active {
  background-color: #474445;
}

.menu-list .sub-menu li span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  font-size: 14px;
}
.menu-list .sub-menu li img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 180px;
}

.menu {
  counter-reset: menu;
}

.menu li {
  padding: 10px 5px 0;
  position: relative;
  font-family: 'my-arial';
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  cursor: pointer;
  cursor: hand;
}
.menu li:before {
  font-family: 'arial';
  counter-increment: menu;
  content: "." counter(menu, decimal-leading-zero);
  position: absolute;
  top: 0;
  font-size: 10px;
  right: 28%;
}
.menu li:after {
  content: '';
  height: 1px;
  width: 150px;
  background: #2D2A2B;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: height .3s;
  transition: height .3s;
}

.menu li:hover:after,
.menu li.active:after {
  height: 8px;
}

.container__canvas {
  background-color: #E6E6E6;
  position: relative;
}

.container__canvas .canvas-tools {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.container__canvas .canvas-tools.bottom {
  top: inherit;
  bottom: 10px;
}

.container__canvas .canvas-tools.left {
  right: inherit;
  left: 10px;
}

  .canvas-tools label,
  .canvas-tools .btn {
    height: 21px;
    width: 21px;
    padding: 0;
    font-size: 10px;
    background: #808080;
    border: 1px solid white;
    color: white;
    opacity: 1;
    transition: opacity .2s;
    margin: 0;
    vertical-align: bottom;
    border-radius: 4px;
  }
  .canvas-tools label span {
    margin-left: 5px;
    margin-top: 3px;
  }

  .canvas-tools .btn.no-bg {
    background: white;
  }
  .canvas-tools .btn.no-bg:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: red;
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    transform: rotate(-40deg);
    top: 0;
  }
  .canvas-tools .btn.remove {
    background: #C1272D;
  }

  .canvas-tools label:hover,
  .canvas-tools .btn:hover {
    opacity: .8;
  }

  .canvas-tools.bottom .btn {
    background: none;
    border-color: #2D2A2B;
    color: #2D2A2B;
  }

  .canvas__form .canvas-text {
    border-radius: 0;
    box-shadow: none;
    font-family: 'arial';
  }

  .canvas__form .color-picker .form-control {
    border: 1px solid #CCCCCC;
    width: 40px;
    border-radius: 0;
    box-shadow: none;
  }

  .canvas-tools #uploadImg {
    display:none;
  }
  .canvas__form .add-text {
    position: absolute;
    bottom: 10px;
    right: 25px;
    opacity: 1;
    transition: opacity 1s;
  }
  .canvas__form .add-text:hover {
    opacity: .8;
  }
  .canvas__form label {
    font-size: 11px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

.fonts-list {
  min-height: 400px;
  background-color: #F2F2F2;
}
  .fonts-list li > div:last-child {
    padding: 30px;
  }
  .fonts-list li div:last-child span:nth-child(2) {
    padding-top: 15px;
  }
  .fonts-list li div:last-child .btn {
    border-radius: 15px;
    background: none;
    border-color: #333;
    font-size: 9px;
    width: 110px;
  }
  .fonts-list li div:last-child .btn:hover {
    background: #333;
    color: white;
  }
  .fonts-list li div:last-child span:first-child {
    font-size: 40px;
  }
  .fonts-list li div:last-child span:nth-child(2) .btn:last-child {
    margin-left: 15px;
  }

  .fonts-list li > div:first-child {
    padding: 10px;
    background-color: #4D4D4D;
    color: white;
    font-family: 'my-arial';
    font-size: 10px;
  }
  .fonts-list li > div:first-child span:last-child {
    float: right;
  }
  .fonts-list ul {
    overflow-y: scroll;
    height: 400px;
  }

  .fonts-list ul::-webkit-scrollbar-track {
  	background-color: #CCCCCC;
  }

  .fonts-list ul::-webkit-scrollbar {
  	width: 10px;
  	background-color: #CCCCCC;
  }

  .fonts-list ul::-webkit-scrollbar-thumb {
  	background-color: #2D2A2B;
  }

footer {
  font-family: 'aparaji';
  font-size: 20px;
  line-height: 19px;
}
