@font-face {
    font-family: abrilfat;
    src: url(/assets/fonts/abrilfatface-regular.otf);
}
@font-face {
    font-family: antraste;
    src: url(/assets/fonts/antraste.ttf);
}
@font-face {
    font-family: my-arial;
    src: url(/assets/fonts/arial.ttf);
}
@font-face {
    font-family: ariali;
    src: url(/assets/fonts/ariali.ttf);
}
@font-face {
    font-family: clemente-hairline;
    src: url(/assets/fonts/clementepdaa-hairline.ttf);
}
@font-face {
    font-family: code-bold;
    src: url(/assets/fonts/code-bold.ttf);
}
@font-face {
    font-family: code-light;
    src: url(/assets/fonts/code-light.ttf);
}
@font-face {
    font-family: mixolydian-titling-bd_0;
    src: url(/assets/fonts/mixolydian-titling-bd_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-bd-it_0;
    src: url(/assets/fonts/mixolydian-titling-bd-it_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-bk_0;
    src: url(/assets/fonts/mixolydian-titling-bk_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-bk-it_0;
    src: url(/assets/fonts/mixolydian-titling-bk-it_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-el_0;
    src: url(/assets/fonts/mixolydian-titling-el_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-el-it_0;
    src: url(/assets/fonts/mixolydian-titling-el-it_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-lt_0;
    src: url(/assets/fonts/mixolydian-titling-lt_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-lt-it_0;
    src: url(/assets/fonts/mixolydian-titling-lt-it_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-rg_0;
    src: url(/assets/fonts/mixolydian-titling-rg_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-rg-it_0;
    src: url(/assets/fonts/mixolydian-titling-rg-it_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-ul_0;
    src: url(/assets/fonts/mixolydian-titling-ul_0.ttf);
}
@font-face {
    font-family: mixolydian-titling-ul-it_0;
    src: url(/assets/fonts/mixolydian-titling-ul-it_0.ttf);
}
@font-face {
    font-family: mj;
    src: url(/assets/fonts/mj-alghifari-demo.ttf);
}
@font-face {
    font-family: aparaj;
    src: url(/assets/fonts/aparaj.ttf);
}
@font-face {
    font-family: aparajb;
    src: url(/assets/fonts/aparajb.ttf);
}
@font-face {
    font-family: aparajbi;
    src: url(/assets/fonts/aparajbi.ttf);
}
@font-face {
    font-family: aparaji;
    src: url(/assets/fonts/aparaji.ttf);
}
