nav.navigator {
  font-family: antraste;
  font-size: 11px;
  font-size: .8em;
  margin-top: 10px;
}

.navbar.navbar-default {
  background-color: #2D2A2B;
  margin-bottom: 0;
  border: 0;
}

.btn:focus,
.btn:active:focus {
  outline: none;
}
